body { background: #efefef; font-family: sans-serif;}

h1 { text-align: center; }
.board { height: 320px; width: 320px; margin: 0 auto 0 auto;}
.board .cell { cursor: pointer; float: left; height: 32px; width: 32px; line-height: 32px; font-size: 20px; text-align: center; color: #000; background: url("../img/cell-bg.png") no-repeat center; background-size: cover; }
.board .cell:active { background: #ababab; }